*.apk
*.ap_
*.dex
*.class
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
